@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300;400&display=swap');

// NOTE FOR EVERYONE: you can change the following in each comp when needed:
// 1. font-weight: bold (or 800)
// 2. specific font sizes, like the price range

h1 {
    // i.e. Filters
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 35px;
}

h2 {
    // i.e. "Your Name"
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-size: 36px;
}

h3 {
    // i.e. header menus, choose a category
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 24px;
}

h4 {
    // price
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-size: 25px;
}

h5 {
    // "Mark as sold"
    font-family: "Assistant", sans-serif;
    font-weight: 400;
    font-size: 24px;
}

h6 {
    // buttons
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 17px; 
}
 
p {
    // i.e. chat
    font-family: "Assistant", sans-serif;
    font-weight: 300;
    font-size: 18px;
}

a {
    color: #3DA5D9;
}

input, textarea {
    font-family: "Assistant", sans-serif;
    font-weight: 300;
    font-size: 18px;
}

// ------------------------------
body, html {
    width: 100%;
    height: 100%;
    font-family: "Assistant", sans-serif;
    font-weight: 300;
}

.page {
    @include flexIt();
    flex-direction: column;
    margin-left: -10px;
    overflow-x: hidden;
}

.page_home {
    @include flexIt();
    flex-direction: column;
    margin: 70px 0;
}

.page_contents {
    width: 100%;
}

.home_logo {
    width: 250px;
    margin-bottom: 30px;
}

// about page

.about_contents {
    background-color: #F89C55;
    width: 100%;
    z-index: -2;
}

.textbox {
    background: #FFFFFF;
    border: 2px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 0px #18191F;
    border-radius: 15px;
    margin: 44px;
    padding: 30px;
    @include flexIt();
    flex-direction: column;

    line-height: 26px;
    
    img {
        width: 200px;
    }

    div {

        h6 {
            font-size: 22px;
        }
        p {
            margin-top: -20px;
        }
    }
}
// FAQ page
.faq_contents {
    background-color: #1F5A98;
    width: 100%;
}

// create a listing page
textarea {
    height: 200px;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 17px;
    padding-left: 20px;
    padding-top: 20px;
}



.proceed {
    padding-top:10%;
    padding-bottom:5%;
    display: flex;
    position: relative;
    margin-right:-50%;
}

// profile page
.profile_contents {
    background-color: #FEC601;
    width: 95%;
    border: 2px solid black;
    margin: 20px;
    padding: 30px;
    box-sizing: border-box;
    border-radius: 16px;
    display: inline-flex;
    flex-direction: column;
}

// home page
.page_home {
    width:100%;
    display: inline-flex;
    flex-direction: row;

    div {
        margin: 10px;
    }
}

.page_right {
    width: 70%;

}